{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form class="form-signin" method="POST" action="{% url 'account_reset_password' %}">
		<h2 class="form-signin-heading">{% trans "Password Reset" %}</h2>
		<div class="login-wrap">
			{% csrf_token %}
			{{ form.as_p }}
			<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
			<input class="btn btn-lg btn-login btn-block" type="submit" value="{% trans 'Reset My Password' %}" />
			<div class="registration">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</div>
		</div>
    </form>

    
	
	
	  <!--<form  action="index.html">
        <h2 >
          sign in now
        </h2>
		
        <div class="login-wrap">
          <input type="text" class="form-control" placeholder="User ID" autofocus>
          <input type="password" class="form-control" placeholder="Password">
		  
          <label class="checkbox">
            <input type="checkbox" value="remember-me">
            Remember me
            <span class="pull-right">
              <a data-toggle="modal" href="#myModal">
                Forgot Password?
              </a>
            </span>
          </label>
		  
          <button class="btn btn-lg btn-login btn-block" type="submit">
            Sign in
          </button>
		  
          <p>
            or you can sign in via social network
          </p>
		  
          <div class="registration">
            Don't have an account yet?
            <a class="" href="registration.html">
              Create an account
            </a>
          </div>
        </div>
		
      </form>-->
	
	


{% endblock %}
